<a href="https://colab.research.google.com/github/Ujjwalr-y20cs161/compStatLab/blob/main/BasicPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

Write a program in Python for, In array 1-100 numbers are stored, one number is missing how do you find it.

In [2]:
#generating function of the list

l =[]
for i in range(1,100):
  l.append(i)

l.remove(21)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
#set difference
set1 = set(range(l[0],l[-1]))
set2 = set(l)

print(set1-set2)

{21}

Write a program in Python for, In a array 1-100 multiple numbers are duplicates, how do you find it.

In [43]:
#Generating a list
import random
def Gen1(mx,ran = 100):
  l1 = [random.randint(1,ran) for x in range(1,mx)]
  # l1.sort()
  return l1

In [20]:
s1=set(l1)
l1 = list(s1)
print(l1,len(l1),sep='\n')

[1, 2, 3, 4, 8, 10, 11, 13, 15, 16, 19, 20, 23, 24, 25, 27, 28, 29, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 52, 53, 55, 58, 59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 89, 93, 99]
64

Write a program in Python for, How to find all pairs in array of integers whose sum is equal to given number.

In [29]:
arr = [1, 5, 7, -1]
sum = 6
l=[]
for i in range(0,len(arr)):
  for j in range(i+1,len(arr)):
    if arr[i]+arr[j] == sum:
     l.append((arr[i],arr[j]))

print(l)

[(1, 5), (7, -1)]

Write a program in Python for, How to compare two array is equal in size or not.

In [36]:
l1 = Gen1(10)
l2 = Gen1(10)
# l2 = Gen1(13)
if len(l1)!= len(l2):
  print('Length of the lists are different')
  print('Difference of the lengths:',len(l1),len(l2),':::',len(l1)-len(l2))
else:
  print("The lists are of same length!")

The lists are of same length!

Write a program in Python to find largest and smallest number in array.

In [41]:
li = Gen1(15)
print(li)
li.sort()
print('The smallest and largest of the list is::',li[0],li[-1])

[29, 99, 84, 72, 32, 39, 36, 66, 67, 14, 96, 28, 27, 32]
The smallest and largest of the list is:: 14 99

Write a program in Python to find second highest number in an integer array.

In [42]:
li = Gen1(15)
print(li)
li.sort()
print('the second largest is:',li[-2])

[3, 21, 36, 41, 96, 57, 79, 23, 18, 33, 68, 99, 36, 86]
the second largest is: 96

Write a program in Python to remove duplicate elements form array.

In [49]:
lo = Gen1(20,12)
print(lo)
#list->set->list::
slo = set(lo)
ol = list(slo)
print(ol)

[1, 8, 3, 11, 2, 6, 11, 10, 3, 12, 4, 10, 10, 8, 2, 1, 10, 9, 4]
[1, 2, 3, 4, 6, 8, 9, 10, 11, 12]

Python program to print array in reverse Order.

In [50]:
lrev = Gen1(15,1000)
print('Given List:',lrev,'\nReverse of the given list:',lrev[::-1])

Given List: [603, 955, 188, 16, 283, 844, 435, 95, 691, 402, 179, 883, 860, 79]
Reverse of the given list: [79, 860, 883, 179, 402, 691, 95, 435, 844, 283, 16, 188, 955, 603]

# **Strings**
Q1). Python program to remove given character from String.

Q2). Python Program to count occurrence of a given characters in string.

Q3). Python program to check a String is palindrome or not.

Q4). Python program to check given character is vowel or consonant.

Q5). Python program to count Occurrence Of Vowels & Consonants in a       String.

In [53]:
st = "Ujjwal R Sanagapati"
print(st)
stnw = st.replace('a','')
print(stnw)

Ujjwal R Sanagapati
Ujjwl R Sngpti

In [55]:
s = dict()
st = 'ujjwal rajaswamy sangapati'
for i in range(0,len(st)):
  if st[i] not in s:
    s[st[i]] = 1
  else:
    s[st[i]] += 1

for i,j in s.items():
  print(f'The letter {i} has {j} occurences')

The letter u has 1 occurences
The letter j has 3 occurences
The letter w has 2 occurences
The letter a has 7 occurences
The letter l has 1 occurences
The letter   has 2 occurences
The letter r has 1 occurences
The letter s has 2 occurences
The letter m has 1 occurences
The letter y has 1 occurences
The letter n has 1 occurences
The letter g has 1 occurences
The letter p has 1 occurences
The letter t has 1 occurences
The letter i has 1 occurences

In [58]:
# stng = 'Ada Madam ada'
stng = input("Enter the string:")
strng = stng.lower()

if(strng == strng[::-1]):
  print(f"{stng} is a palindrome")
else:
  print(f"{stng} is not a palindrome")

Enter the string:Ujju
Ujju is a palindrome

In [59]:
vowels = 'aeiou'
consonants = 'bcdfghjklmnpqrstvwxyz'

26

In [64]:
char = input("Enter a character:")
chr = char[0].lower()

if chr in vowels:
  print(f'{char} is a Vowel')
elif chr in consonants:
  print(f'{char} is a consonant')
else:
  print(f'{char} is not a alphabet')

Enter a character:U
U is a Vowel

In [65]:
senten = input("Enter the sentence: ")
sent = senten.lower()

s = {'Vowels':0,'Consonants':0}

for i in sent:
  if i in vowels:
    s['Vowels']+=1
  elif i in consonants:
    s['Consonants']+=1

print(f"{senten} contains {s['Vowels']} Vowels and {s['Consonants']} Consonants")

Enter the sentence:Ujjwal R Sanagapati
Ujjwal R Sanagapati contains 7 Vowels and 10 Consonants

 1. Python program to find tuples which have all elements divisible by K from a list of tuples

Input : test_list = [(6, 24, 12), (60, 12, 6), (12, 18, 21)], K = 6


Output : [(6, 24, 12), (60, 12, 6)] 

Explanation : Both tuples have all elements multiple of 6.

Input : test_list = [(6, 24, 12), (60, 10, 5), (12, 18, 21)], K = 5 

Output : [(60, 10, 5)] 

Explanation : Multiple of 5 tuples extracted.

In [87]:
l = [(6, 24, 12), (60, 12, 6), (12, 18, 21)]
k = 6
res =[]
for i in l:
  le = len(i)
  K =[k]*le
  K = tuple(K)
  zero = [0]*le
  zero = tuple(zero)
  print(zero,K,i)
  if tuple(ele1 % ele2 for ele1, ele2 in zip(i,K)))
    # res.append(i)
# print(res)

(0, 0, 0) (6, 6, 6) (6, 24, 12)
(0, 0, 0)
(0, 0, 0) (6, 6, 6) (60, 12, 6)
(0, 0, 0)
(0, 0, 0) (6, 6, 6) (12, 18, 21)
(0, 0, 3)